**/*.svg
node_modules
/dist
.dockerignore
.DS_Store
.eslintignore
**/*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
*.log
.history
CNAME
/build
/public
.idea
*.yaml
.nuxt
.output